BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 41af9fd39336

CREATE TABLE routes (
    id VARCHAR(36) NOT NULL, 
    source VARCHAR(255) NOT NULL, 
    destination VARCHAR(255) NOT NULL, 
    segments JSON NOT NULL, 
    total_duration VARCHAR(50) NOT NULL, 
    total_cost FLOAT NOT NULL, 
    budget_category VARCHAR(50) NOT NULL, 
    num_transfers INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_routes_created_at ON routes (created_at);

CREATE INDEX ix_routes_destination ON routes (destination);

CREATE INDEX ix_routes_source ON routes (source);

CREATE TABLE stations (
    id VARCHAR(36) NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    city VARCHAR(255) NOT NULL, 
    latitude FLOAT NOT NULL, 
    longitude FLOAT NOT NULL, 
    geom geometry(POINT,4326), 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_stations_geom ON stations USING gist (geom);

CREATE INDEX IF NOT EXISTS idx_stations_geom ON stations USING gist (geom);

CREATE INDEX ix_stations_city ON stations (city);

CREATE INDEX ix_stations_name ON stations (name);

CREATE TABLE stations_master (
    station_code VARCHAR(10) NOT NULL, 
    station_name VARCHAR(255) NOT NULL, 
    city VARCHAR(255) NOT NULL, 
    state VARCHAR(255) NOT NULL, 
    is_junction BOOLEAN, 
    latitude FLOAT, 
    longitude FLOAT, 
    geo_hash VARCHAR(12), 
    PRIMARY KEY (station_code)
);

CREATE INDEX ix_stations_master_city ON stations_master (city);

CREATE INDEX ix_stations_master_station_name ON stations_master (station_name);

CREATE TABLE users (
    id VARCHAR(36) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    phone_number VARCHAR(20), 
    role VARCHAR(50), 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_role ON users (role);

CREATE TABLE vehicles (
    id VARCHAR(36) NOT NULL, 
    vehicle_number VARCHAR(50) NOT NULL, 
    type VARCHAR(50) NOT NULL, 
    operator VARCHAR(255) NOT NULL, 
    capacity INTEGER, 
    PRIMARY KEY (id), 
    CONSTRAINT vehicle_type_check CHECK (type IN ('train', 'bus', 'flight'))
);

CREATE TABLE bookings (
    id VARCHAR(36) NOT NULL, 
    user_id VARCHAR(36) NOT NULL, 
    route_id VARCHAR(36) NOT NULL, 
    travel_date VARCHAR(10) NOT NULL, 
    payment_status VARCHAR(50), 
    amount_paid FLOAT, 
    booking_details JSON NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(route_id) REFERENCES routes (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_bookings_created_at ON bookings (created_at);

CREATE INDEX ix_bookings_user_id ON bookings (user_id);

CREATE TABLE segments (
    id VARCHAR(36) NOT NULL, 
    source_station_id VARCHAR(36) NOT NULL, 
    dest_station_id VARCHAR(36) NOT NULL, 
    vehicle_id VARCHAR(36), 
    transport_mode VARCHAR(50) NOT NULL, 
    departure_time VARCHAR(8) NOT NULL, 
    arrival_time VARCHAR(8) NOT NULL, 
    duration_minutes INTEGER NOT NULL, 
    distance_km FLOAT, 
    arrival_day_offset INTEGER, 
    cost FLOAT NOT NULL, 
    operating_days VARCHAR(7) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(dest_station_id) REFERENCES stations (id), 
    FOREIGN KEY(source_station_id) REFERENCES stations (id), 
    FOREIGN KEY(vehicle_id) REFERENCES vehicles (id)
);

CREATE INDEX ix_segments_dest_station_id ON segments (dest_station_id);

CREATE INDEX ix_segments_source_station_id ON segments (source_station_id);

CREATE INDEX ix_segments_vehicle_id ON segments (vehicle_id);

CREATE TABLE payments (
    id VARCHAR(36) NOT NULL, 
    booking_id VARCHAR(36), 
    razorpay_order_id VARCHAR(255), 
    razorpay_payment_id VARCHAR(255), 
    status VARCHAR(50), 
    amount FLOAT NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(booking_id) REFERENCES bookings (id)
);

CREATE INDEX ix_payments_booking_id ON payments (booking_id);

CREATE INDEX ix_payments_razorpay_order_id ON payments (razorpay_order_id);

CREATE INDEX ix_payments_razorpay_payment_id ON payments (razorpay_payment_id);

CREATE TABLE reviews (
    id VARCHAR(36) NOT NULL, 
    user_id VARCHAR(36) NOT NULL, 
    booking_id VARCHAR(36) NOT NULL, 
    rating INTEGER NOT NULL, 
    comment TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT review_rating_check CHECK (rating >= 1 AND rating <= 5), 
    FOREIGN KEY(booking_id) REFERENCES bookings (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE UNIQUE INDEX ix_reviews_booking_id ON reviews (booking_id);

CREATE INDEX ix_reviews_user_id ON reviews (user_id);

CREATE TABLE unlocked_routes (
    id VARCHAR(36) NOT NULL, 
    user_id VARCHAR(36) NOT NULL, 
    route_id VARCHAR(36) NOT NULL, 
    payment_id VARCHAR(36), 
    unlocked_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(payment_id) REFERENCES payments (id), 
    FOREIGN KEY(route_id) REFERENCES routes (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_unlocked_routes_payment_id ON unlocked_routes (payment_id);

CREATE INDEX ix_unlocked_routes_route_id ON unlocked_routes (route_id);

CREATE INDEX ix_unlocked_routes_user_id ON unlocked_routes (user_id);

INSERT INTO alembic_version (version_num) VALUES ('41af9fd39336') RETURNING alembic_version.version_num;

COMMIT;

